SESSION_SECRET=SKIP
IMGUR_CLIENT_ID=SKIP
PORT=SKIP
JWT_SECRET=SKIP

# docker-compose-mysql
MYSQL_ROOT_PASSWORD=yourMysqlRootPassword
MYSQL_USER=yourMysqlUser
MYSQL_PASSWORD=yourMysqlPassword
MYSQL_DATABASE=yourMysqlDatabase
CLEARDB_DATABASE_URL=yourProductionDatabaseConnectData